VITE_STREAM_URL=https://intern-hls-server.tomaton.workers.dev/stream.m3u8
VITE_COMMENTS_URL=https://intern-comment-server.intern-comment-server.deno.net/events
VITE_MESSAGES_URL=https://intern-comment-server.intern-comment-server.deno.net/messages
VITE_GIFTS_URL=https://intern-comment-server.intern-comment-server.deno.net/items
